$o-kanban-attachement-image-size: 100px;

.o_kanban_view {
    @include o-align-items(flex-start);

    .o_kanban_record.o_kanban_attachment {
        padding: 0;

        .o_kanban_image {
            width: $o-kanban-attachement-image-size;

            + div {
                padding-left: $o-kanban-attachement-image-size + $o-kanban-inside-hgutter;
                @media (max-width: $screen-xs-max) {
                    padding-left:  $o-kanban-attachement-image-size + $o-kanban-inside-hgutter-mobile;
                }
            }

            .o_kanban_image_wrapper {
                min-height: $o-kanban-attachement-image-size;
                @include o-flex-display;
                @include o-align-items(center);
                @include o-justify-content(center);
            }

            .o_attachment_image {
                @include square($o-kanban-attachement-image-size);
            }

            .o_image {
                @include square($o-kanban-attachement-image-size - 20px);
            }
        }

        .o_kanban_details {
            .o_kanban_details_wrapper {
                @include o-flex-display;
                @include o-flex-direction(column);
                min-height: $o-kanban-attachement-image-size;
                padding: $o-kanban-inside-vgutter $o-kanban-inside-hgutter;

                .o_kanban_record_title {
                    margin-bottom: $o-kanban-inside-vgutter;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 95%;
                }

                .o_kanban_record_body {
                    @include o-flex(1, 1, auto);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .oe_kanban_avatar {
                    border-radius: 4px;
                    border: 1px solid $gray-lighter;
                }
            }
        }
    }
}