.snippet-option-BlogPostTagSelection {
    .o_we_record {
        display: inline-block;
        padding: $o-we-sidebar-content-field-label-spacing;
        border: $o-we-item-border-width solid $o-we-item-border-color;
        border-radius: 5px;
        background-color: $o-we-bg-darkest;

        + .fa {
            margin: 0;
        }
    }
    .o_we_record_wrapper {
        display: inline-block;
        margin: ($o-we-sidebar-content-field-label-spacing * 1.5) $o-we-sidebar-content-field-label-spacing 0 0;
    }

    .o_add_tag {

    }
}