.o_microsoft_sync_button {
    display: block;
    margin: auto;
    > img {
        margin-right: 10px;
        height: 35px;
		width: 30px;
    }
}

img.calendar_img_tuto {
    margin: 0 0 10px 50px;
    border: 2px solid $o-brand-secondary;
}
