// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_Chatter {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
    padding: 0;
}

.o_FormRenderer_chatterContainer {
    display: flex;
    flex: 1 1 auto;
    width: 530px;
}

// FIX to hide chatter in dialogs when they are opened from an action returned by python code
.modal .modal-dialog .o_form_view .o_FormRenderer_chatterContainer {
    display: none;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_Chatter {
    border-left: 1px solid gray('300');
    background-color: white;
}
